.widget {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);

  
  .widget-header {
    padding: 1rem 1.35rem;
    background-color: #FFFFFF73;
    border-bottom: 1px solid rgba(33,40,50,.125);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
  }
  
  .widget-body {
    padding: 24px 20px;
    // color: #4e4e4e;
    color: #3385bb;
  }

  .widget-loading {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .spinner {
      animation: spinner-rotation 1.4s linear infinite;
      stroke: #4285f4;

      .circle {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: spinner-turn 1.4s ease-in-out infinite;
      }
    }
  }
}

@keyframes spinner-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
