@import "./../../../assets/fonts/Quicksand-VariableFont_wght.ttf";

.app {
  font-family: Quicksand, 'Open Sans', sans-serif;
  background: #d2d7df;
  background-size: cover;
  padding-top: 30px;
  height: 100vh;


  .main-content {

    // > .row:first-child {
    //   margin-bottom: 30px;
    // }
  }

  .admin-trigger {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }

  .modal {
    background: rgba(0, 0, 0, 0.6);
  }
}