.app {
  background: #68ae0c;
  padding-top: 30px;
  height: 100vh;
    
  .main-content {

    > .row:first-child {
      margin-bottom: 30px;
    }
  }

  .modal {
    background: rgba(0, 0, 0, 0.6);
  }
}