@import "../../../scss/bootstrap.scss";

.saturation-chart {
  height: 124px;

  .CircularProgressbar-trail {
    stroke: $color-darker;
  }
  
  .CircularProgressbar-path {
    stroke: $color-primary;
  }

 .CircularProgressbar-text {
   fill: $color-text-large;
   font-weight: bold;
  }  
}