@import "../../../../scss/bootstrap.scss";

.roof-temperature {
  .roof {
    width: 100%;

    &.green g {
      fill: $color-primary-groendakmonitor;
      stroke: $color-primary-groendakmonitor;
    }
  }
}

body[theme="zinco"] {
  .roof-temperature {
    .roof {
      &.green g {
        fill: $color-primary-zinco;
        stroke: $color-primary-zinco;
      }
    }
  }
}
