@import "../../../scss/bootstrap.scss";

.saturation-chart {
  height: 124px;

  
  .CircularProgressbar-path {
    stroke: $color-primary;
  }

 .CircularProgressbar-text {
   fill: $color-text-large;
  }  
}