@import "../../../scss/bootstrap.scss";

.biodiversity {
  .bee {
    width: 100%;
    animation: bzzz 5s linear 5s infinite;
    
    .body {
      fill: $color-darker;
    }
  }
}

@keyframes bzzz {
  0% { transform: rotate(1deg) ; }
  1% { transform: rotate(7deg) ; }
  2% { transform: rotate(-5deg) ; }
  3% { transform: rotate(6deg) ; }
  4% { transform: rotate(-8deg) ; }
  5% { transform: rotate(10deg) ; }
  6% { transform: rotate(-7deg) ; }
  7% { transform: rotate(6deg) ; }
  8% { transform: rotate(-5deg) ; }
  9% { transform: rotate(0) ; }
  100%   { transform: rotate(0); }
}